<!DOCTYPE html>
<html>
	<head>
	<meta charset=utf-8 />
	<title>i &hearts; DC bakeries</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
		<link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>

	<body>
		<header>
		<div class='col12 clearfix'>
            <div class="row">
                <div class="col-sm-10 col-xs-offset-1 text-block">
					<h1>Bakery &hearts; : The Health Inspector Cracks Down</h1>
                </div>
            </div>
		</div>

		</header>


		<div class='col12 clearfix'>
			<div class='col4 pad2 mobile-cols clearfix fill-grey'>

				<div class='fill-white prose prose-small pad2 info round'>

				<h3>Do you love muffins and clean kitchens? </h3>

				<p>I do! So I decided to map the health inspection ratings from bakeries around DC.</p>
				<small>*All ratings were retrieved from the DC Health Regulation & Licensing Administration. If you want to know about delis, restaurants, fish markets and more, <a href="http://dc.healthinspections.us/webadmin/dhd_431/web/index.cfm?a=inspections&permitID=5838">check out the data!</a></small>
				<hr>

				<ol>
				<li>
<!-- 					<i style="color:red;" class="fa fa-minus-square"></i>
 -->				<a href="#" id='place-0'>Rest 1</a><img style="width:20px;height:20px;margin:0;padding:0;" src="https://cdn3.iconfinder.com/data/icons/farm-animals/128/mouse-512.png"></li>
				<li><a href="#" id='place-1'>Rest 2</a></li>
				</ol>

				</div>

	      	</div>

			<div class='margin20 col7 pad2 clearfix'>

		    	<div id='map'></div>
		 	</div>


    	</div>

	

		<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
		<script src='{{ url_for("static", filename="js/mymap.js") }}'></script>
	</body>

</html>